// Colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
$white:#d1cfcb;
// functions
@function rem($px) {
    @return $px/16px + 0rem;
  }
// Normalize
@import "base/normalize.scss";
// Base
@import "base/style";
@import "base/fonts";
// Blocks
@import "blocks/button.scss";
@import "blocks/header.scss";
@import "blocks/heading.scss";
@import "blocks/best.scss";
@import "blocks/reviews.scss";
@import "blocks/pointer.scss";
@import "blocks/team.scss";
@import "blocks/menu.scss";
@import "blocks/footer.scss";
@import "blocks/order.scss";
@import "blocks/burgers.scss";