html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: $black;
}

.container {
    margin: 0 auto;
    position: relative;
    max-width: 940px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.align-center {
	display: flex;
	align-items: center;
}
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow: hidden; /*скрывет контент выходящий за рамки*/
}

.section {
    width: 100vw;
    height: 100vh;
    min-height: 650px;
}

ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
}
a {
    transition: 250ms;
}
@media only screen and (max-width: 768px) {
	.container {
		padding-left: 3%;
		padding-right: 4%;
	}
}