html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: $black;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 940px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 940px;
  min-height: 100%;
  overflow: hidden; /*скрывет контент выходящий за рамки*/
}

.section {
    width: 100vw;
    height: 100vh;
    min-height: 650px;
}

ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
}
a {
    transition: 250ms;
}
