.best {
    background: url("../img/best_bg.jpg") center center / cover no-repeat;
}
.best__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.best-title {
    color: $black;
    font-family: "Gagalin";
    font-size: 72px;
    font-weight: 400;
    padding-bottom: 55px;
}
.best__list {
    display: flex;
    justify-content: space-between;
}
.best__li {
    text-align: center;
    flex: 1 1 280px;
    margin-right: 35px;
    &:last-child {
        margin-right: 0px;
    }
}
.best__list-title {
    color: $black;
    font-family: "Lifehack";
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.6px;
}
.best__info {
    color: $black;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.best__info-fm {
    padding-top: 20px;
}
.best__info-ma {
    padding-top: 20px;
}
.best__info-ni {
    padding-top: 7px;
}
.best__li-fresh-meat {
    padding-bottom: 33px;
}
.best__li-manual-assembly {
    padding-bottom: 33px;
}
.best__li-natural-ingredients {
    padding-bottom: 40px;
}