.burgers {
    background: linear-gradient(to bottom, #f9b43b 24%, #eb8c38 48%, #f9b43b 74%); 
}
.burgers__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.burgers__content {
    max-width: 1031px;
    height: 470px;
    display: flex;
}
.left-arrow__button,
.right-arrow__button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-icon {
    width: 29px;
    height: 14px;
    fill: #ffffff;
    transition: transform .3s;
    &_left{
        transform: rotate(90deg);
    }
    &_right{
        transform: rotate(-90deg);
    }
}
.burgers__slider {
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 80vw;
    height: 60vh;
    max-width: 1000px;
}
.burgers__list {
    display: flex;
    position: relative;
    height: 85%;
    right: 0;
    transition: right .7s;
}
.burgers__item {
    display: flex;
    align-items: center;
    width: 80vw;
    max-width: 1000px;
    position: relative;
}
.burgers__img-bg {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burgers__text-bg {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.burgers__title {
    color: #ffffff;
    line-height: 63.93px;
}
.burgers__text {
    width: 99%;
    color: #ffffff;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 300;
    line-height: 23.97px;
}
.burgers__price {
    font-family: "Gagalin";
    font-size: 30px;
    color: $red;
    line-height: 28.08px;
}
.burgers__price-value {
    font-size: 72px;
    line-height: 28.08px;
} 
.burgers__order-row {
    display: flex;
    align-items: baseline;
}
.button_burgers {
    margin-left: 29px;
}
.burgers__compound {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    background-color: rgba(227,80,40,.4);
    padding: 1% 0;
    cursor: pointer;
    transition: .3s;
}
.burgers__compound-icon {
    fill: #ffffff;
    width: 60%;
    height: 60%;
}
.burgers__composition-text {
    color: #ffffff;
    font-family: "Gagalin";
    font-size: 14px;
    font-weight: 400;
}