.burgers {
    background: linear-gradient(to bottom, #f9b43b 24%, #eb8c38 48%, #f9b43b 74%); 
}
.burgers__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.burgers__content {
    max-width: 1031px;
    height: 470px;
    display: flex;
}
.left-arrow__button,
.right-arrow__button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-icon {
    width: 29px;
    height: 14px;
    fill: #ffffff;
    transition: transform .3s;
    &_left{
        transform: rotate(90deg);
    }
    &_right{
        transform: rotate(-90deg);
    }
}
.burgers__slider {
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 80vw;
    height: 60vh;
    max-width: 1000px;
}
.burgers__list {
    display: flex;
    position: relative;
    height: 100%;
    right: 0;
    transition: right .7s;
}
.burgers__item {
    display: flex;
    align-items: center;
    width: 80vw;
    max-width: 1000px;
    position: relative;
}
.burgers__img-bg {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burgers__text-bg {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.burgers__title {
    color: #ffffff;
    line-height: 63.93px;
}
.burgers__text {
    width: 99%;
    color: #ffffff;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 300;
    line-height: 23.97px;
}
.burgers__price {
    font-family: "Gagalin";
    font-size: 30px;
    color: $red;
    line-height: 28.08px;
}
.burgers__price-value {
    font-size: 72px;
    line-height: 28.08px;
} 
.burgers__order-row {
    display: flex;
    align-items: baseline;
}
.button_burgers {
    margin-left: 29px;
}
.burgers__img {
    width: 100%;
    height: 100%;
}
.burgers__compound {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    background-color: rgba(227,80,40,.4);
    padding: 1% 0;
    cursor: pointer;
    transition: .3s;
    &:hover {
        background-color: rgba($red, .9);    
        .burgers__compound-list {
            left: 100%;
            opacity: 1;
        }
    }
}
.burgers__compound-icon {
    fill: #ffffff;
    width: 60%;
    height: 60%;
}
.burgers__composition-text {
    color: #ffffff;
    font-family: "Gagalin";
    font-size: 14px;
    font-weight: 400;
}
.burgers__kcals {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 90px;
    height: 90px;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Gagalin";
    font-weight: 400;
}
.burgers__kcals-icon {
    fill: #ffffff;
    width: 66%;
    height: 66%;
}
.burgers__kcals-number {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.burgers__kcals-text{
    font-size: 14px;
}
/*--- кнопка СВОЙСТВА ---*/
.burgers__compound-list {
    position: absolute;
    cursor: initial;
    top: 0;
    background: rgba(255,255,255,.8);
    color: $black;
    border-radius: 5px;
    width: auto;
    padding: 16px;
    opacity: 0;
    transition: opacity .4s;
    left: -100000%;
}
.burgers__table-col {
    padding: 0.3rem;
    font-size: 14px;
}
.burgers__table-icon {
    width: 48px;
    &_beef {
        fill: $red;
    }
}
.burgers__table-col_title {
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 500;
    padding-left: 1.3rem;
}
.burgers__table-col_text {
    text-align: right;
    padding-left: 64px;
    white-space: nowrap;
    font-weight: 300;
}
@media only screen and (max-width: 1000px) {
    .burgers__content {
        height: 100vh;
    }
    .burgers__slider {
        height: 100vh;
    }
    .burgers__list {
        height: unset;
    }
    .burgers__item {
        flex-direction: column;
        justify-content: center;
    }
    .burgers__img-bg {
        width: 60%;
        margin-right: 0;
    }
    .burgers__text-bg {
        width: 85%;
        height: 60%;
        text-align: center;
    }
    .burgers__kcals {
        left: auto; 
        bottom: auto; 
        right: 0;
        top: 0;
    }
    .burgers__order-row {
        justify-content: center;
    }
}
@media only screen and (max-width: 550px) {
    .burgers__img-bg {
        width: 97%;
        margin-bottom: 2%;
    }
    .burgers__text-bg {
        width: 100%;
        height: 50%;
    }
    .burgers__title {
        width: 60%;
        min-width: 228px;
        margin: 0 auto;
        font-size: 50px;
    }
    .burgers__price-value {
        font-size: 30px;
    }
    .burgers__price {
        font-size: 24px;
    }
}