.footer {
    height: 60px;
    background: url("../img/footer_bg.jpg") center center / cover no-repeat;
}
.footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}
.footer__address {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}
.footer__phone-link {
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: $orange;
}
.footer__social-networks {
   
}
.social-networks {
    width: 142px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-networks__vk-icon,
.social-networks__fb-icon,
.social-networks__inst-icon,
.social-networks__tw-icon {
    fill: #fff;
    opacity: 0.3;
    transition: opacity .3s;
    &:hover,
    &:focus {
        outline: none;
        opacity: 1;
    }
}
.social-networks__vk-icon {
    width: 23px;
    height: 13px;
}
.social-networks__fb-icon {
    width: 20px;
    height: 20px;
}
.social-networks__inst-icon {
    width: 20px;
    height: 20px;
}
.social-networks__tw-icon {
    width: 20px;
    height: 16px;
}