.header {
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}
.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation {
    padding-right: 15px;
}
.navigation__list {
    display: flex;
    align-items: center;
}
.navigation__list-item {
    display: flex;
    align-items: center;
    &:last-child {
        &::after {
            display: none;
        }
    }
    &::after {
    content: "";
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    margin: 0 16px;
    display: inline-block;
    }
}
.navigation__list-item {
    text-decoration: none;
    color: #fff;
}
.navigation__list-link {
    font-family: "Ubuntu";
    font-size: rem(13px);
    font-weight: 500;
    text-transform: uppercase;
    &:hover,
    &:focus {
        outline: none;
        color: $yellow;
    }
}
.button-order {
    &:hover,
    &:focus {
        outline: none;
        color: $black;
    }
}
.hamburger-menu {
    display: none;
}
.hamburger-menu-icon {
    background: #fff;
    width: 1.5rem;
    height: 0.3125rem;
    border-radius: 0.1875rem;
    &:before {
        content: "";
        display: block;
        position: absolute;
        background: #fff;
        width: 1.5rem;
        height: 0.3125rem;
        border-radius: 0.1875rem;
        bottom: 0;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        background: #fff;
        width: 1.5rem;
        height: 0.3125rem;
        border-radius: 0.1875rem;
        top: 0;
    }
}
@media only screen and (max-width: 887px) {
    .header {
        padding-left: 3%;
        padding-right: 4%;
    }
    .button-order {
        margin-right: 30px;
    }
    .navigation {
        display: none;
    }
    .hamburger-menu {
        display: block;
        display: flex;
        vertical-align: middle;
        align-items: center;
        position: relative;
        height: 1.375rem;
    }
}
@media only screen and (max-width: 768px) {
    .header {
        padding-left: 0;
        padding-right: 0;
    }
}