.heading {
    background: url("../img/heading_bg.jpg") center center / cover no-repeat;
}
.heading__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.heading__container-text {
    padding-left: 11px;
}
.title {
    font-family: "Gagalin";
    font-weight: 400;
    font-size: 72px;
}
.heading__container-title {
    color: $yellow;
}
.heading__container-description {
    display: block;
    color: #fff;
    font-family: "Lifehack";
    font-weight: 500;
    font-size: 62px;
    line-height: 59px;
    letter-spacing: -1.63px;
}
.arrow-heading {
    display: flex;
    justify-content: center;
    padding-bottom: 41px;
}