.heading {
    background: url("../img/heading_bg.jpg") center center / cover no-repeat;
}
.heading__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.heading__container-text {
    padding-left: 11px;
}
.title {
    font-family: "Gagalin";
    font-weight: 400;
    font-size: 72px;
}
.heading__container-title {
    color: $yellow;
}
.heading__container-description {
    display: block;
    color: #fff;
    font-family: "Lifehack";
    font-weight: 500;
    font-size: 62px;
    line-height: 59px;
    letter-spacing: -1.63px;
}
.arrow-heading {
    display: flex;
    justify-content: center;
    padding-bottom: 41px;
}
@media only screen and (max-width: 887px) {
    .heading__container {
        flex-direction: column;
        padding: 0 13%;
    }
    .heading__container-text {
        text-align: center;
        max-width: 406px;
    }
    .heading__heading-burger {
        max-width: 100%;
        max-height: 100%;
    }

}
@media only screen and (max-width: 480px) {
    .title {
        font-size: 63px;
    }
    .heading__container-description {
        font-size: 54px;
    }
}