.menu {
    background: url(../img/menu_bg.jpg) center center/cover no-repeat;
    display: flex;
    justify-content: space-between;
}
.menu-title {
    color: #ffffff;
    margin-top: 17vh;
    margin-left: 8.6vw;
}
.menu__list {
    display: flex;
    justify-content: space-between;
}
.menu__li {
    min-width: 5rem;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu__li-bg1 {
    transition: .5s;
    background: linear-gradient(rgba(20, 20, 20, 0.5)), url(../img/menu__li-bg1.png) center center/cover no-repeat;
    &:hover,
    &:focus{
        outline: none;
        background: linear-gradient(rgba(20, 20, 20, 0.7)), url(../img/menu__li-bg1.png) center center/cover no-repeat;
    }
}
.menu__li-bg2 {
    transition: .5s;
    background: linear-gradient(rgba(20, 20, 20, 0.5)), url(../img/menu__li-bg2.png) center center/cover no-repeat;
    &:hover,
    &:focus{
        outline: none;
        background: linear-gradient(rgba(20, 20, 20, 0.7)), url(../img/menu__li-bg2.png) center center/cover no-repeat;
    }
}
.menu__li-bg3 {
    transition: .5s;
    background: linear-gradient(rgba(20, 20, 20, 0.5)), url(../img/menu__li-bg3.png) center center/cover no-repeat;
    &:hover,
    &:focus{
        outline: none;
        background: linear-gradient(rgba(20, 20, 20, 0.7)), url(../img/menu__li-bg3.png) center center/cover no-repeat;
    }
}
.menu__tint {
    height: 100%;
    width: 5rem;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &.title-h2{
        font-size: 2.5rem;
    }
}
.menu__label {
    transform: rotate(-90deg)  translateX(50%);
    white-space: nowrap;
    color: #ffffff;
    font-size: 2.5rem;
    padding-bottom: 0;
}
.menu__content {
    max-width: 0px;
    background: rgba(47, 50, 52, 0.93);
}
.active {
    .menu__label {
        color: $yellow;
    }
    .menu__content {
        max-width: 1500px;
    }
    .menu__content-text {
        display: inline-block;
    }
}
.menu__content-text {
    display: none;
    height: 100vh;
    padding: 35px 60px;
    padding-bottom: 0;    
    font-family: "Ubuntu";
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
}
.menu-title_none {
    display: none;
}
@media only screen and (max-width: 768px) {
    .menu-title {
        margin-left: 1.6vw;
    } 
    .menu__content-text {
        padding: 20px 3%;
    }
}
@media only screen and (max-width: 600px) {
    .menu-title {
        font-size: 50px;
    }
}
@media only screen and (max-width: 600px) {
    
}