.popup-menu {
  display: none;
}
.popup-menu_active {
  display: block;
}

.popup-menu__wrapper {
  background: rgba(47, 50, 52, .99);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}



.popup-menu__logo {
  height: rem(80px);
  width: rem(80px);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: rem(20px);
  margin-left: rem(25px);
}

.popup-menu__img {
    max-height: 100%;
    max-width: 100%;
}

.popup-menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #d1cfcb; // предпрос ругался пришлось так написать
}

.popup-menu__item {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: rem(24px);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  &:after {
    content: "";
    display: block;
    border-radius: 50%;
    width: rem(6px);
    height: rem(6px);
    background: #d1cfcb; // предпрос ругался пришлось так написать
    margin: rem(15px) 0;
  }
  &:last-child::after {
    display: none;
  }
  &:hover {
    text-decoration: underline;
  }
}


.popup-menu__close {
  position: absolute;
  right: 10px;
  top: 30px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.popup-menu__close:before, .popup-menu__close:after {
  position: absolute;
  right: 40px;
  top: 0;
  content: ' ';
  height: 23px;
  width: 4px;
  background-color: #c1c2c2;
  border-radius: rem(10px);
}

.popup-menu__close:before {
  transform: rotate(45deg);
}
.popup-menu__close:after {
  transform: rotate(-45deg);
}
